<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{ title }}!
  </h1>
  </div>
<h2>Search for your star: </h2>

<form #newSearch = "ngForm" (ngSubmit) = "doSearch(newSearch.value)">
  <div class="form-group" >
    <input type="text" class="form-control" id="searchTerm" name = "searchTerm" placeholder = "Search for.." ngModel required>
  </div>
  <button type="submit" class="btn btn-success" value = "submit">Submit</button>

</form>

<div>
    <p>Movie: {{movies}}</p>
  
</div>
<div>
  <ul>
      <li *ngFor="let actor of actors">
        <!-- <div *ngIf="movie.popularity > 24"> -->
          
            <p>{{actor.name}}</p>

        <!-- </div> -->
      </li>
  </ul>
</div>
